:root{
    --blanc: #e6e6e6;
    --vert: #bfdb38;
    --bleu-dark: #00425a;
    --bleu-light: #1f8a70;
    --orange: #fc7300;
}

.nav-container{
    width: fit-content;
    height: 50px;
    /* padding: 0 10px; */
    background-color: var(--blanc);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    overflow: hidden;
}

.nav-liste{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.nav-items{
    padding: 0 10px;
    width: 110px;
    height: 100%;
    vertical-align: middle;
    text-align: center;
    line-height: 50px;
    color: var(--bleu-dark);
}

.nav-items:hover, .nav-items.active{
    background-color: var(--bleu-light);
}